* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 5px auto;
  }
  /* 1 */
  .heading {
    margin-left: 20px;
    text-align: left;
    font-size: 30px;
    margin-bottom: 50px;
    
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    
    
  }
  
  .card {
    width: 20%;
    background:rgb(255, 255, 255);
    border-radius: 5px;
    /*border: 10px solid #8b36e15b;*/
    margin-bottom: 20px;
    transition: 0.3s;

    .card-body{
        background-color:rgb(183, 183, 222);
        margin-left: 20px;
        margin: 20px;
    }

   

  }
  
  .card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #ff41ff, #ff4b2b);
    color: #cb2424;
  }
  
  .card-body {
   
    text-align: center;
    font-size: 18px;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
   
    
    text-decoration: none;
    padding: 10px 9px;
    transition: 0.3s;
 
  }
  
  .card-body .btn:hover {
    transform: scale(1.1);
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  



  
  /* Responsive media queries */
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
   
    
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
     
    }
  
    .heading {
      padding: 20px;
      font-size: 30px;
    }
  
    .card {
      width: 80%;
    }
  }



  .icon{
    width: 30px;
    margin-right: 20px;
}
  